﻿<!doctype html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>SS - Telephone Book Extension -- Developments</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <link href="css/table-material.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div role="main" class="container theme-showcase">
        <div class="" style="margin-top:30px; width:570px; height:570px;">
            <div class="col-lg-8">
                <div class="bs-component" ng-controller="mainController">
                    <div id='demo'>
                        <h1>Soft Square : Telephone & Carplate Book</h1>
                        <h2> Latest Update on : {{lastedUpdate | date: 'd-MMM-yyyy' }} </h2>
                    </div>
                    
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="text" ng-model="search" class="form-control" placeholder="Search by Enter Criteria">
                        </div>
                    </form>

                    <div class="table-responsive-vertical shadow-z-1">
                        
                        <table id="table" class="table table-hover" style="width:98%">
                            <thead>
                                <tr>
                                    <th width="30%">ชื่อ</th>
                                    <th width="20%">ชื่อเล่น</th>
                                    <th width="20%">แผนก</th>
                                    <th width="10%">โทร</th>
                                    <th width="20%">ทะเบียนรถ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="data in employeeData|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                                    <td>
                                        <p> {{data.firstName}} </p>
                                    </td>
                                    <td style="padding-left:10px">
                                        <p> {{data.nickName}} </p>
                                    </td>
                                    <td>
                                        <p> {{data.department}} </p>
                                    </td>
                                    <td>
                                        <p> {{data.telephoneno}} </p>
                                    </td>
                                    <td>
                                        <p> {{data.carplate}} </p>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <span ng-switch-when="0">Nothing was found</span>
                    </div>
                    <chasing-dots-spinner ng-show="prograssing"></chasing-dots-spinner>
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                    </dir-pagination-controls> <br /> หากต้องการเปลี่ยนแปลงข้อมูล กรุณากรอกแบบฟอร์มโดย <a target="_blank" href="https://goo.gl/forms/Y61UybufvmymTtpL2"> >>> กดที่นี้ <<< </a>
                    <br>
                </div>

            </div>
        </div>
    </div>
    <script src="js/angular.js"></script>
    <script src="angular-spinkit.js"></script>
    <script src="js/dirpagination.js"></script>
    <script src="js/controller/maincontroller.js"></script>
    <script src="js/jquery.js">

    </script>
</body>

</html>